::selection {
    background-color: #1F1F1F;
    color: white;
}

select option:checked {
    background-color: #0F4140;
    color: white;
}

a {
    color: #26413e;
    text-decoration: none;
}

.btn-primary {
    background-color: #26413e;
    --bs-btn-hover-bg: #aaa5a6;
}

@media (max-width: 535px) {

    .sidebar.open {
        z-index: 99999;
    }

    .profile-container {
        margin-left: 70px !important;
    }

    .sidebar.open~.profile-container {
        width: 100% !important;
    }

    .profile-container-Arabic {
        margin-right: 70px !important;
    }

    .sidebar.open~.profile-container-Arabic {
        width: 100% !important;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    transition: all 0.3s ease;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.profile-container {
    margin-left: 70px;
    width: calc(100% - 70px);
    transition: margin-left 0.3s ease, width 0.3s ease;
    /*padding: 20px;*/
    /*max-width: 1200px;*/
}

.sidebar.open~.profile-container {
    margin-left: 250px;
    width: calc(100% - 250px);
}

.profile-container-Arabic {
    margin-right: 70px;
    width: calc(100% - 70px);
    transition: margin-right 0.3s ease, width 0.3s ease;
    /*padding: 20px;*/
    /*max-width: 1200px;*/
}

.sidebar.open~.profile-container-Arabic {
    margin-right: 250px;
    width: calc(100% - 250px);
}

.sidebar {
    position: fixed;
    top: 0;
    width: 70px;
    height: 100vh;
    background-color: #1F1F1F;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border-radius: 10px;
    gap: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.sidebar-content {
    width: 100%;
    overflow-y: auto;
    height: 100%;
}

.sidebar-content::-webkit-scrollbar {
    width: 8px;
}

.sidebar-content::-webkit-scrollbar-track {
    background: #1F1F1F;
    border-radius: 10px;
}

.sidebar-content::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.sidebar-content::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar.open {
    width: 250px;
}

.toggle-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.toggle-btn {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.toggle-btn svg path {
    transition: stroke 0.3s ease;
}

.toggle-btn:hover svg path {
    stroke: #635e5e;
}

.toggle {
    display: flex;
    align-items: center;
    gap: 100px;
}

.toggle img {
    display: block;
    opacity: 0;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    transition: opacity 0.3s ease;
}

.sidebar.open .toggle img {
    opacity: 1;
}

.sidebar .toggle img {
    opacity: 0;
    display: none;
}

.user-profile-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.menu-items {
    list-style: none;
    width: 100%;
    padding: 5px;
}

.menu-items li {
    text-align: center;
    border-bottom: 1px solid;
    border-image: url('/assets/images/icons/line.png');
    border-image-slice: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*padding-left: 15px;*/
    padding: 0px 15px;
}

.menu-items li:last-child {
    border-bottom: none;
}

.menu-items li a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 10px 0;
    transition: background-color 0.3s;
    width: 100%;
}

.menu-items li:hover {
    background-color: #635e5e;
    border-radius: 10px;
}

.menu-items li img {
    width: 24px;
    height: 24px;
    transition: width 0.3s, height 0.3s;
}

.menu-items li span {
    margin: 0px 15px;
    font-size: 16px;
    display: none;
}

.sidebar.open .menu-items li img {
    width: 30px;
    height: 30px;
}

.sidebar.open .menu-items li span {
    display: inline-block;
}

.sidebar:not(.open) .menu-items li:hover::after {
    content: attr(title);
    position: absolute;
    background-color:  #b9b2b2ad;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    pointer-events: none;
    z-index: 1000;
}

.search-container {
    position: relative;
    margin: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /*z-index: -1;*/
}

.search-container button {
    position: absolute;
    left: 7%;
    border: none;
    background: none;
    cursor: pointer;
}

.search-container input[type="text"] {
    width: 90%;
    padding: 12px 20px 12px 50px;
    font-size: 16px;
    border-radius: 50px;
    background-color: #F1F1F1;
    border: 1px solid #F1F1F1;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.search-container input[type="text"]:focus {
    outline: none;
    border-color: #f8a200;
}

.search-container input[type="text"]::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
    color: #888;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.desc-profile {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.desc-profile h3 {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    color: #F1EEEC;
}

.desc-profile p {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 12px;
    font-weight: 200;
    line-height: 14.52px;
    text-align: left;
    color: #F1EEEC;
}

.desc-profile a:hover h3{
    color: #dd915e;
}

.sidebar.open .user-profile .desc-profile {
    display: block;
}

/* Content */

.main-content {
    padding: 30px;
}

/*.profile-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0px 20px;
}*/

.profile-header {
    display: flex;
    position: relative;
    justify-content: space-around;
    margin-bottom: 20px;
    gap: 50%;
}

.profile-info h2 {
    margin-top: 10px;
    font-size: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.btn-edit {
    /*padding: 10px 20px;*/
    text-decoration: none;
    color: #2E4049;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 31.25px;
    text-align: justify;
    transition: all 0.3s ease;
}

.btn-edit:hover {
    color: #D67E0D;
}

.image-container {
    position: relative;
    display: inline-block;
}

.btn-replace {
    position: absolute;
    top: 20px;
    right: 10px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.profile-header2 {
    display: flex;
    position: relative;
    justify-content: flex-start;
    margin-bottom: 20px;
    gap: 50%;
    padding: 0px 60px;
}

.profile-details {
    /*display: flex;*/
    justify-content: space-between;
    flex-wrap: wrap;
}

.profile-info {
    flex: 0 0 30%;
    text-align: center;
}

.profile-img {
    display: block;
    width: 200px;
    height: 168.38px;
    object-fit: cover;
    border-radius: 25px;
    border: 2px solid #ddd;
    margin-bottom: 10px;
    box-shadow: 0px 14px 32px 0px #00000040;
}

.visit-details {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 20px 30px;
    flex-wrap: wrap;
}

.doctor-details {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 100px;
    flex-wrap: wrap;

}

.user-info {
    flex: 1;
    max-width: 40%;
}

.extra-user-info {
    padding-top: 15%;
}

.diagnosis {
    flex: 1;
    max-width: 40%;
}

.visit-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.visit-details p {
    font-size: 16px;
    /*margin-bottom: 8px;*/
    margin: 0px;
}

.doctor-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.doctor-details p {
    font-size: 16px;
    /*margin-bottom: 8px;*/
    margin: 0px;
}

.big-title {
    font-size: 30px;
    font-weight: 600;
    margin: 0px;
}

.small-title p {
    font-size: 13px;
    margin: 0px;
}

.small-title {
    margin-bottom: 15px;
}

.text-info {
    margin-bottom: 15px;
}

.action-buttons {
    margin-top: 20px;
    display: flex;
    /*justify-content: space-between;*/
    justify-content: space-around;
    flex-wrap: wrap;
}

.btn {
    flex: 0 0 18%;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline;
}

.patient-btn {
    background-color: #26413e;
    color: #EAEAEA;
    text-decoration: none;
}

.btn:hover {
    opacity: 0.9;
}

.submit-btn,
.new-btn {
    background-color: #D6861F;
    color: #EAEAEA;
}

.styled-input {
    width: 100%;
    height: 50px;
    padding: 10px;
    gap: 8px;
    border-radius: 10px;
    border: 1px solid #727272;
    opacity: 1;
    color: #000000;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    /*text-align: left;*/
    background: #FFFFFF;
}

.styled-input:focus {
    border-color: #D67E0D;
    box-shadow: 0 0 5px rgba(26, 101, 94, 0.5);
}

.date-input {
    padding: 8px 12px;
    font-size: 16px;
    line-height: 1.5;
    appearance: none;
    background-color: #FFFFFF;
    color: #333;
    cursor: pointer;
}

.date-input::-webkit-calendar-picker-indicator {
    filter: invert(50%);
    cursor: pointer;
}

.styled-input.textarea-input {
    width: 100%;
    height: 150px;
    padding: 10px;
    gap: 8px;
    border-radius: 10px;
    border: 1px solid #727272;
    background: #FFFFFF;
    outline: none;
    font-family: 'Roboto', sans-serif;
    resize: none;
}

.styled-input.textarea-input:focus {
    border-color: #D67E0D;
    box-shadow: 0 0 5px rgba(228, 177, 38, 0.829);
}

.btn-back {
    display: inline-block;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.25px;
    text-decoration: none;
    color: #2E4049;
    cursor: pointer;
    position: relative;
}

.btn-back:hover {
    color: #D67E0D;
}

/* Feedback */
.feedback {
    /*display: flex;*/
    justify-content: flex-start;
    gap: 20px;
    padding: 20px 150px;
    flex-wrap: wrap;
}

.feedback-container {
    flex: 1;
    max-width: 75%;
}

.feedback-title {
    font-size: 30px !important;
    font-weight: 600;
    padding-bottom: 30px;
}

.feedback-action-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

/* Patient List*/
.patient-contaier {
    margin: 0;
    padding: 20px;
}

.page-title {
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
    color: #2E4049;
    padding: 20px;
}

.actions {
    display: flex;
    align-items: center;
    /*margin-bottom: 20px;*/
    /*padding-right: 100px;*/
}

.title-container {
    flex: 1;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}
.button-container2 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
}

.filter-link {
    font-size: 16px;
    color: #26413e;
    display: flex;
    align-items: center;
    gap: 8px;
}

.filter-link:hover {
    color: #D6861F;
    text-decoration: none;
}

.filter-link:hover svg path {
    stroke: #D6861F;
}

.add-patient-btn {
    font-family: 'Poppins', sans-serif !important;
    padding: 10px 20px;
    background-color: #26413e;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
}

.add-patient-btn:hover {
    opacity: 0.8;
}

.add-primery-btn {
    font-family: 'Poppins', sans-serif !important;
    padding: 10px 20px;
    background-color: #D6861F;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
}

.add-primery-btn:hover {
    opacity: 0.8;
}

.patient-table {
    width: 100%;
    border-collapse: collapse;
}

.patient-table a {
    /*padding: 5px 10px;*/
    font-family: 'Poppins', sans-serif;
    border: none;
    cursor: pointer;
    border-radius: 30px !important;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    color: #EAEAEA;
    text-decoration: none;
}

.patient-table a:hover {
    opacity: 0.8;
}

.patient-table thead th {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #fff;
    color: #2E4049;
    text-align: left;
    padding: 20px 0px 20px 40px;
}

.edit-btn {
    background: #26413e;
    width: 50%;
    /* 81px; */
    padding: 5px 50px;
    gap: 10px;
    margin-right: 10px !important;
    color: white;
}

.view-btn {
    background-color: #D6861F;
    /* 81px; */
    padding: 5px;
    gap: 50px;
}

.delete-btn {
    /*width: 15%;*/
    background: transparent;
    color: #000 !important;
    margin-left: 20px !important;
}

.delete-btn a , .delete-btn button{
    color: #26413e;
}
.delete-btn a:hover, .delete-btn button:hover {
    color: #D6861F;
}

.pagination .page-item {
    list-style: none;
}

.pagination .page-link {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #2E4049;
    border-radius: 4px;
    justify-content:right;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
}

.pagination .page-link:hover {
    background-color: #26413e;
    color: #ffffff;
    border-color: #26413e;
}

.pagination .page-item.active .page-link {
    background-color: #26413e;
    color: #ffffff;
    border-color: #26413e;
}

.pagination .page-item.disabled .page-link {
    color: #ccc;
    cursor: not-allowed;
    pointer-events: none;
    background-color: #f8f8f8;
    border-color: #ddd;
}


/*.pagination1 {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10%;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 50px;
    position: sticky;
    bottom: 0;
    z-index: 2;
}*/
.pagination1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 50px;
    position: sticky;
    bottom: 0;
    z-index: 2;
}

.pagination-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10%;
}

.pagination-info {
    text-align: left;
}

.pagination {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

#patientTable thead tr:first-child th:first-child {
    border-top-right-radius: 10px;
}

#patientTable thead tr:first-child th:last-child {
    border-top-left-radius: 10px;
}

#patientTable tbody tr:nth-child(odd) {
    background-color: #D9D9D9;
}

#patientTable tbody tr:nth-child(even) {
    background-color: #fff;
}

#patientTable th {
    padding: 20px 20px 20px 40px;
    background-color: #fff;
    color: #2E4049;
    text-align: justify;
}

#patientTable td {
    padding: 20px 20px 20px 40px;
    font-size: 15px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: justify;
}

#patientTable td .link {
    font-size: 15px;
    font-weight: 600;
    line-height: 18.75px;
    text-align: left;
    color: #ad9292;
}

#patientTable tbody tr:hover {
    background-color: #ccc;
}

.custom-date {
    color: #D67E0D;
}

.table-container {
    overflow-x: auto;
}

.table-container::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

.table-container::-webkit-scrollbar-track {
    background-color: #f4f4f4;
    border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #26413e;
    border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background-color: #D6861F;
}

/* Listen To music*/
.search-bar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px 30px;
}

.search-bar-title{
    position: absolute;
    top: 60%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white;
}

.search-bar button {
    position: absolute;
    left: 17%;
    border: none;
    background: none;
    cursor: pointer;
}

.search-bar input[type="text"] {
    width: 90%;
    padding: 12px 20px 12px 50px;
    font-size: 16px;
    border-radius: 50px;
    background-color: #F1F1F1;
    border: 1px solid #F1F1F1;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.search-bar input[type="text"]:focus {
    outline: none;
    border-color: #f8a200;
}

.search-bar input[type="text"]::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
    color: #888;
}

.content {
    padding: 20px;
    text-align: left;
}

.content h1 {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 600;
    line-height: 62.5px;
    text-align: left;
    color: #2E4049;
}

.music-options {
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.music-option {
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 20px;
}

.music-option img {
    width: 350px;
    height: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    border: 1px solid #000;
}

.music-option label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;
    line-height: 18.75px;
    text-align: center;
}

.questionnaire {
    text-align: center;
    margin-bottom: 20px;
}

.questionnaire h2 {
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    color: #2E4049;
    margin-bottom: 20px;
}

.questionnaire-cards {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.questionnaire-card {
    background-color: #f4f4f4;
    width: 326px;
    height: 360px;
    padding: 50px 10px;
    border-radius: 5px;
    border: 1px solid #5C5C5C;
    text-align: center;
    position: relative;
    box-shadow: 8px 8px 0px 0px #FB8A2ECC;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.questionnaire-card:hover {
    transform: translateY(-5px);
}

.questionnaire-card img {
    width: 50%;
    margin-bottom: 10px;
}

.questionnaire-card h3 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #000;
}

.questionnaire-card button {
    position: absolute;
    bottom: 40px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #D6861F;
    color: #F1EEEC;
    font-size: 14px;
    cursor: pointer;
}

.questionnaire-card button:hover {
    opacity: 0.8;
}

.status {
    width: 80% !important;
    padding: 10px !important;
    border-radius: 5px;
    border: 1px solid #9e9179 !important;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
    margin-top: 20px;
}

/* Listener statistics */
.listen-container {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
}

.progress-bar {
    width: 100%;
    height: 30px;
    background-color: #f4f4f4;
    border-radius: 20px;
    border: 1px solid #91C4BF;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 50px;
    position: relative;
}

.progress {
    height: 100%;
    width: 20%;
    background-color: #3EB6AB;
    position: relative;
    z-index: 1;
}

.progress-bar-text {
    position: absolute;
    top: 0;
    left: 5%;
    transform: translateX(-50%);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    color: #2E4049;
    z-index: 2;
    pointer-events: none;
}

.card {
    background-color: #F2F2F2;
    border-radius: 30px;
    padding: 40px;
    text-align: left;
    box-shadow:
        0px 8px 18px 0px #0000001A,
        0px 32px 32px 0px #00000017,
        0px 72px 43px 0px #0000000D,
        0px 129px 51px 0px #00000003,
        0px 201px 56px 0px #00000000;
}

.card p,
.card .options label {
    font-family: 'Poppins', sans-serif !important;
    color: #1C0217;
    font-size: 17px;
    font-weight: 400;
}

.options {
    display: flex;
    justify-content: left;
    margin: 20px 0;
    gap: 60px;
    flex-wrap: wrap;
}

.buttons {
    display: flex;
    justify-content: left;
    gap: 50px;
    padding: 20px 0;
    flex-wrap: wrap;
}

.button {
    background-color: #D6861F;
    color: #F1EEEC;
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.button:hover {
    opacity: 0.8;
}

.result {
    font-family: 'Poppins', sans-serif !important;
    color: #303030;
    margin-top: 20px;
    display: none;
    font-size: 17px;
    font-weight: 700;
    line-height: 37.5px;
    text-align: center;
}

/* Fotter */
.dashboard-container {
    /*height: 100vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    margin: 0;
    padding: 50px;
}

.dashboard-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 50px;
    width: 100vh;
    height: 50vh;
    text-align: center;
}

.dashboard-card-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.dashboard-card-description {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 2% 10%;
    border-bottom: 1px solid #FFFFFF33;
}

.footer-logo img {
    width: 80px;
}

.footer-logo p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #FFA538;
}

.footer-links {
    display: flex;
    gap: 40px;
}

.footer-links .column {
    display: flex;
    flex-direction: column;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin-bottom: 40px;
    font-size: 13px;
}

.footer-links a:hover {
    opacity: 0.5;
    transform: scale(1.005);
    transition: all 0.1s ease;
}

.footer-help {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help-btn {
    background-color: transparent;
    color: white;
    border: 1px solid #D67E0D;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 20px;
}

.social-icons img {
    width: 25px;
    height: 25px;
}

.footer-bottom {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px 0px 0px 10%;
    font-size: 13px;
    border-top: 1px solid #FFFFFF33;
}

.footer-bottom img {
    width: 20px;
    margin-right: 10px;
}

.social-icons {
    display: flex;
    gap: 18px;
    height: 25.43px;
    opacity: 1;
}

.social-icons a {
    text-decoration: none;
}

.social-icons i {
    width: 26.4px;
    height: 25.43px;
    color: #F1EEEC;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.social-icons i:hover {
    opacity: 0.8;
    transform: scale(1.05);
    transition: all 0.3s ease;
}


@media(max-width: 459px) {

    .footer-links {
        padding-top: 15% !important;
    }
    .button-container2{
        flex-direction: column !important;
    }
}

@media(max-width: 680px) {

    .footer-help {
        margin-left: 2% !important;
    }
    .search-bar-title{
        left: 40%;
    }
}

/* Responsive Styles */
@media (min-width: 1001px) and (max-width: 1200px) {
    .options {
        gap: 40px;
    }
}

@media (min-width: 769px) and (max-width: 1000px) {

    .feedback {
        padding: 20px 50px;
    }

    .options {
        gap: 30px;
    }
}

@media (max-width: 768px) {

    .input-row {
        flex-direction: column;
        gap: 1rem;
    }

    .input-group {
        width: 100%;
    }

    .main-content {
        padding: 20px 0px;
    }

    .profile-header {
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }

    .visit-details {
        flex-direction: column;
    }

    .doctor-details {
        flex-direction: column;
        padding: 20px 30px;
    }

    .user-info,
    .diagnosis,
    .feedback-container {
        max-width: 100%;
    }

    .feedback {
        padding: 20px 30px;
    }

    .extra-user-info {
        padding-top: 0;
    }

    .action-buttons {
        flex-direction: column;
        align-items: center;
    }

    .btn {
        flex: 0 0 80%;
        margin-bottom: 10px;
    }

    /* patient List */
    .table-container {
        margin-bottom: 20px;
    }

    .patient-table {
        min-width: 600px;
    }

    .pagination1 {
        min-width: 610px;
        padding: 0px;
    }

    .actions {
        padding-right: 20px;
    }

    .page-list {
        padding-right: 10px;
    }

    .page-title {
        font-size: 26px;
    }

    .add-patient-btn {
        padding: 5px 10px;
        font-size: 12px;
    }
    .add-primery-btn {
        padding: 5px 10px;
        font-size: 12px;
    }
    /* Listen to Music */

    .search-bar {
        flex-direction: row;
    }

    .search-bar input[type="text"] {
        width: 100%;
        padding: 10px;
    }

    .content h1 {
        font-size: 28px;
        line-height: 42px;
    }

    .music-options {
        flex-direction: column;
        gap: 20px;
    }

    .music-option img {
        width: 100%;
        height: auto;
    }

    .questionnaire-cards {
        justify-content: center;
    }

    .questionnaire-card {
        width: 100%;
        max-width: 300px;
        padding: 20px 10px;
    }

    .questionnaire-card h3 {
        font-size: 16px;
    }

    .questionnaire h2 {
        font-size: 24px;
        text-align: center;
    }

    .questionnaire-card button {
        width: 90%;
    }

    .options {
        gap: 20px;
    }

    .buttons {
        gap: 30px;
    }

    .card p,
    .card .options label {
        font-size: 15px;
    }

    .result {
        font-size: 14px;
    }
}

.user-form-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.users-list-filter {
    /*display: flex;*/
    justify-content: center;
    width: 100%;
}

.form-section {
    width: 100%;
    padding: 20px;
    /*border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;*/
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.image-upload-wrapper {
    text-align: center;
}

.image-placeholder {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.placeholder-img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
}

.edit-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #fff;
    padding: 4px;
    border-radius: 50%;
}

.image-upload-instruction {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #555;
}

.input-row {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
}
.form-input, audio {
    width: 100%;
}
.input-group label {
    font-weight: bold;
    font-size: 0.95rem;
    color: #333;
}

.form-input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #26413e;
    border-radius: 4px;
    width: 100%;
    margin: 0px;
}
.input-group input:focus {
    outline: none;
    border-color: #d19524;
}
.button-group,
.button-group-left {
    display: flex;
    justify-content: flex-end;
}
/* Styling for custom audio player */
.custom-audio {
    display: flex;
    align-items: center;
    gap: 10px;
}

.play-btn {
    background: none;
    border: 2px solid #f2a900;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #f2a900;
    cursor: pointer;
}

.progress-bar {
    width: 100%;
    height: 5px;
    background-color: #29bfbf;
    cursor: pointer;
}

.volume-control {
    width: 30px;
    cursor: pointer;
}

.custom-button {
    background-color: #26413e;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    opacity: 0.8;
}

.button-group-left {
    justify-content: flex-start;
    padding: 20px 0px;
}

.button-row {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 20px 0px;
}
.fc-v-event
{
    background-color: #26413e ;
    border: 1px solid #26413e;
}
.fc-daygrid-event-dot
{
    border: calc(var(--fc-daygrid-event-dot-width) / 2) solid #26413e ;
}
.fc .fc-daygrid-event-harness {
    cursor: pointer;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice
{
    background-color: #aaa5a6 !important;
    border: 1px solid #aaa5a6 !important;
    color: #F1EEEC ;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove
{
    color: #F1EEEC;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #26413e;
    color: white;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #aaa5a6;
    color: #F1EEEC;
}
.modal-header .btn-close
{
    margin: 0 !important;
}
