.main-nav {
    background-color: #ececec;
}

/* Section 1 */

.hero {
    position: relative;
    margin-top: 60px;
}

.landing-page {
    background-image: url('../../images/kids-landing-page7.jpg');
}

/* Sections 4*/
.section2 {
    background-image: url('../../images/kids-therapy-backgeound.png');
    height: 80vh;
}

/* Fotter*/

.footer {
    /*background-color: rgba(228, 144, 40, 1);*/
    background-color: #FFCB89;
    padding: 15px 20px;
    /*color: white;*/
    color: black;
    font-family: 'Inter', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 2% 10%;
    border-bottom: 1px solid #FFFFFF33;
}

/*.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}*/

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../images/kids-samaa-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px;
    height: 100px;
}

.footer-logo img {
    width: 80px;
}

.footer-logo p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #FFA538;
}

.footer-links {
    display: ruby !important;
    gap: 40px;
}

.footer-links .column {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.footer-links a {
    /*color: white;*/
    color: black;
    text-decoration: none;
    margin-bottom: 40px;
    font-size: 13px;
}

.footer-links a:hover {
    opacity: 0.5;
    transform: scale(1.005);
    transition: all 0.1s ease;
}

.footer-help {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help-btn {
    background-color: transparent;
    /*color: white;*/
    color: black;
    /*border: 1px solid rgba(241, 238, 236, 1);*/
    border: 1px solid rgb(19, 12, 8);
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 20px;
}

.help-btn:hover{
    background-color: white;
    color: rgba(228, 144, 40, 1);
    border: 1px solid rgba(228, 144, 40, 1);
}

.social-icons img {
    width: 25px;
    height: 25px;
}

.footer-bottom {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10%;
    font-size: 13px;
    border-top: 1px solid #FFFFFF33;
}

.footer-bottom img {
    width: 20px;
    margin-right: 10px;
}

.footer-bottom a{
    text-decoration: none;
    color: black;
}

.footer-bottom a:hover{
    opacity: 0.6;
}

.social-icons {
    display: flex;
    gap: 18px;
    height: 25.43px;
    opacity: 1;
}

.social-icons a {
    text-decoration: none;
}

.social-icons i {
    width: 26.4px;
    height: 25.43px;
    /*color: #F1EEEC;*/
    color: black;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.social-icons i:hover {
    opacity: 0.8;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

@media(max-width: 880px) {

    .section2 h2 {
        font-size: 22px !important;
    }

    .section2 p {
        margin: 20px 8% !important;
    }

}

@media (max-width: 1093px) {
    .profile-ar,
    .profile-fr,
    .profile-en {
        padding: 20px !important;
    }
    .menu {
        display: flex;
        flex-direction: column;
        width: 250px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -250px;
        background-color: #1F1F1F;
        padding: 10px 0;
        z-index: 1;
        transition: transform 0.3s ease;
        overflow-y: auto;
        scrollbar-width: none;
    }

    .menu::-webkit-scrollbar {
        display: none;
    }

    .menu.active {
        transform: translateX(250px);
    }

    .menu a {
        color: #EAEAEA !important;
        padding: 0px 15px 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .menu .a-desc-profile a {
        color: #EAEAEA !important;
        padding: 0px 15px 20px;
        border-bottom: none !important;
    }

    .menu-desc-profile{
        color: #EAEAEA !important;
        padding: 0px 15px 20px;
    }

    .menu-toggle {
        display: flex;
        /*padding-right: 80px;*/
    }

    /*.language-selector {
        margin-top: 15px;
        text-align: center;
    }

    .language-selector select {
        padding: 8px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f9f9f9;
        width: 100%;
        max-width: 200px;
        margin: 0 auto;
        cursor: pointer;
    }*/

    .close-menu {
        background: none;
        border: none;
        color: white;
        font-size: 24px;
        cursor: pointer;
        margin: 10px 20px;
        align-self: flex-end;
    }

    .menu-title {
        color: white;
        font-size: 24px;
        text-align: center;
        margin: 20px 0;
    }

}

@media (min-width: 1093px) {

    .close-menu,
    .menu-title {
        display: none;
    }
}

.background-style{
    background-image: url('../../images/kids-landing-page2.png');
}
/*
@media (max-width: 768px) {
    .contact-section {
        padding: 80px 20px;
    }

    .login-container {
        padding: 0px 20px;
    }

    .contact-container {
        flex-direction: column;
        align-items: center;
    }

    .contact-info,
    .contact-form {
        max-width: 100%;
        padding: 5%;
    }

    .btn-register {
        gap: 100px !important;
    }

    .contact-item p a {
        font-size: 16px;
    }

    .contact-item p strong {
        font-size: 20px;
    }

    .social-links svg {
        font-size: 30px;
        margin-right: 10px;
    }

    .login-text h1 {
        font-size: 40px;
    }

    .login-text h2 {
        font-size: 20px;
    }

    .login-text h2 span {
        font-size: 20px;
    }

    .step-desc {
        text-align: center;
    }

    .step-header {
        align-items: center;
        justify-content: center;
    }

    .blog-cards {
        justify-content: center;
    }

    .blog-card {
        width: 100%;
        max-width: 300px;
        padding: 20px 10px;
    }

    .blog-card h3 {
        font-size: 16px;
    }

    .blog h2 {
        font-size: 24px;
        text-align: center;
    }

    .section2 button {
        width: 100%;
    }

    .CTA-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .text-section h1 {
        font-size: 36px;
    }
}

@media (max-width: 480px) {

    .hero {
        margin-top: 0px;
    }
    .hero img {
        height: 80vh;
    }
    .landing-page {
        height: 70vh;
    }
    .contact-section {
        padding: 60px 10px;
    }

    .login-container {
        padding: 0px 20px;
    }

    .contact-info h3 {
        font-size: 20px;
    }

    .contact-info h2 {
        font-size: 28px;
    }

    .btn-register {
        flex-direction: column !important;
        gap: 20px !important;
    }

    .contact-item p a{
        font-size: 14px;
    }

    .contact-item p strong {
        font-size: 18px;
    }

    .contact-form {
        padding: 20px;
        max-width: 100%;
    }

    .contact-form input,
    .contact-form textarea {
        padding: 10px;
    }

    .contact-form button {
        padding: 12px 30px;
    }

    .social-links svg {
        font-size: 25px;
        margin-right: 8px;
    }

    .doctors-section {
        padding: 0px !important;
    }
}*/

/* About Us*/

/* Sidebar Menu */
.our-story {
    background-image: url('../../images/our-story.jpg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    margin-top: 5%;
    padding: 0px 15%;
}

[dir="rtl"] .our-story {
    background-position: left !important;
    background-image: url('../../images/our-story-ar.jpg');
}

/* How It Work */
.our-work {
    background-image: url('../../images/our-work.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    padding: 0px 15%;
}

[dir="rtl"] .our-work {
    background-image: url('../../images/our-work-ar.png');
}

/** Therapists **/
.our-therapists {
    background-image: url('../../images/therapists.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: start;
    align-items: end;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    padding: 0px 15% 80px 15%;
    margin-top: 5%;
}

/**/

@media (max-width: 688px) {

    .hero-text {
        top: 45%;
        width: 90%;
    }

    .header-container .header h1 {
        font-size: 40px !important;
        line-height: 55px !important;
    }

    .header-container .header h1 span {
        font-size: 40px !important;
        line-height: 55px !important;
    }

}
